.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
  margin: 0;
}

/* Set a background image for the entire page */
/* Make sure the image path is correct */
.login-container {
  background-image: url('../public/images/login.jpg') ; /* Image located in public folder */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.login-box {
  margin: auto;
  padding: 2rem;
  background: rgba(211, 211, 211, 0.8); /* Light gray with 80% opacity */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.room-container {
  background-image: url('../public/images/image.png'); /* Image located in public folder */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.admin-container {
  background-image: url('../public/images/image.png'); /* Image located in public folder */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.home-container {
  background-image: url('../public/images/frontimage.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.registration-container{
  background-image: url('../public/images/registration.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
}